@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: black;
  background: #151422;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.ant-progress-circle .ant-progress-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff !important;
  font-size: 1rem !important; /* Đổi kích thước font theo mong muốn */
  /* Các quy tắc CSS tùy chỉnh khác nếu cần */
}

.ant-collapse-expand-icon {
  margin-top: 5px;
}
.ant-collapse-header-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
#outlined-basic-label {
  color: gray;
}
.MuiInputLabel-outlined {
  color: gray !important;
}
